body {
  margin: 20px;
}

.avatar {
  width: 150px;
}

.card {
  /*
    Challenge:
    Give the card a width of 400px wide and center it.
    */

  /* Flexbox by default uses block styling. So really the display is "block". Use the margin-left: auto and margin-right: auto with a defined width to center an element. */
  width: 400px;
  margin-left: auto;
  margin-right: auto;

  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.border-blue {
  border: 1px dotted blue;
}
