body {
  margin: 20px;
}

.border-utility {
  border: 1px dotted blue;
}

.avatar {
  width: 150px;
}

.card {
  border: border-utility;
  padding: 20px;
  display: flex;
}

/*
Challenge:
Create a utility class for the dotted blue border.
Give the class to both flexbox children in the HTML.
*/
